<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Служба поддержки Wazir.kg</title>
        <link rel="stylesheet" href="/static/driver/assets/scss/main.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    </head>
    <body>
        <main>
            <header>
                <div class="back">
                    <div class="container">
                        <div class="back__content">
                            <a href="{{ url_for('driver_profile') }}"><img
                                    src="/static/driver/assets/img/ico/back.svg"
                                    alt="back"></a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="survey-3">
                <div class="container">
                    <div class="survey__content">
                        <h1 class="title-left">
                            Служба поддержки
                        </h1>
                        <div class="survey__profile-info">
                            <div class="survey__profile-info-wraper">
                                <a href="#">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Написать в поддержку</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <h3>Популярные вопросы</h3>
                            <div class="survey__profile-info-wrapper">
                                <a href="/driver/support/2">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Помощь с приложением</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/3">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Я поменял документы</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/4">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Мне не платит парк-партнер</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/5">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>В машине остались вещи или
                                                посылка</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/6">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Не получаю новые заказы</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/7">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>Почему закрыт доступ</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                                <a href="/driver/support/8">
                                    <div class="survey__profile-info-item"
                                        style="display: flex; align-items: center; justify-content: space-between;">
                                        <div class="survey__profile-info-intro"
                                            style="display: flex; align-items: center; gap: 5px;">
                                            <p>У меня вопрос про расчет
                                                стоимости заказа</p>
                                        </div>
                                        <div class="survey__profile-info-car"
                                            style="display: flex; align-items: center;">
                                            <a href="#"><img
                                                    src="/static/driver/assets/img/ico/next.svg"
                                                    alt="next"></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>