<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>В машине остались вещи или посылка</title>
        <link rel="stylesheet" href="/static/driver/assets/scss/main.css">
    </head>
    <body>
        <main>
            <header>
                <div class="back">
                    <div class="container">
                        <div class="back__content">
                            <a href="/driver/support/1"><img
                                    src="/static/driver/assets/img/ico/back.svg"
                                    alt="Назад"></a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="survey-3">
                <div class="container">
                    <div class="survey__content">
                        <h1 class="title-left">В машине остались вещи или
                            посылка</h1>

                        <div class="help-content">
                            <div class="help-item">
                                <h2>В моей машине забыли вещи.</h2>
                                <p>Пришлите номер заказа и подробно опишите, что
                                    забыл пользователь. Мы с ним свяжемся и
                                    расскажем о находке. Пожалуйста, помогите
                                    человеку вернуть вещи — он будет вам очень
                                    благодарен.</p>
                            </div>

                            <div class="help-item">
                                <h2>Не могу передать посылку (если тариф
                                    «Доставка» доступен в регионе).</h2>
                                <p>Попробуйте связаться с получателем, его номер
                                    указан в заказе. Если это не помогло —
                                    расскажите нам про посылку и сообщите номер
                                    заказа. Мы поможем разобраться.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>