<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Не получаю новые заказы</title>
        <link rel="stylesheet" href="/static/driver/assets/scss/main.css">
    </head>
    <body>
        <main>
            <header>
                <div class="back">
                    <div class="container">
                        <div class="back__content">
                            <a href="/driver/support/1"><img
                                    src="/static/driver/assets/img/ico/back.svg"
                                    alt="Назад"></a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="survey-3">
                <div class="container">
                    <div class="survey__content">
                        <h1 class="title-left">Не получаю новые заказы</h1>

                        <div class="help-content">
                            <div class="help-item">
                                <p>Заказы распределяются системой автоматически,
                                    и таксопарки могут назначить заказ вручную.
                                    Это даёт всем водителям одинаковые шансы
                                    работы. Бывает, что новый заказ приходит не
                                    сразу. Чаще всего это означает, что сейчас в
                                    районе низкий спрос.</p>
                            </div>

                            <div class="help-item">
                                <p>Если нового заказа нет дольше 20 минут,
                                    начните с этих шагов:</p>
                                <ul>
                                    <li>— Проверьте раздел Диагностика, если
                                        есть ограничения по заказам, там будут
                                        все подробности</li>
                                    <li>— Перезагрузите телефон или планшет</li>
                                    <li>— Проверьте, есть ли стабильное
                                        интернет-подключение</li>
                                    <li>— Перезапустите Wazir</li>
                                    <li>— Включите статус - На линии</li>
                                </ul>
                            </div>

                            <div class="help-item">
                                <p>Если всё работает стабильно, но заказы не
                                    приходят, обратите внимание на эти
                                    рекомендации:</p>
                                <ul>
                                    <li>— Не стойте на месте, перемещайтесь</li>
                                    <li>— Переключайтесь в статус Занят только
                                        при необходимости</li>
                                    <li>— Смотрите карту повышенного спроса</li>
                                    <li>— Учитывайте, что заказов будет меньше,
                                        если включен режим «Делюсь, что хочу
                                        делать»</li>
                                    <li>— выбран только один способ оплаты или
                                        отключены некоторые тарифы</li>
                                </ul>
                            </div>

                            <div class="help-item">
                                <p>Если ничего не помогает — напишите, будем
                                    разбираться вместе.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>