<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Почему закрыт доступ</title>
        <link rel="stylesheet" href="/static/driver/assets/scss/main.css">
    </head>
    <body>
        <main>
            <header>
                <div class="back">
                    <div class="container">
                        <div class="back__content">
                            <a href="/driver/support/1"><img
                                    src="/static/driver/assets/img/ico/back.svg"
                                    alt="Назад"></a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="survey-3">
                <div class="container">
                    <div class="survey__content">
                        <h1 class="title-left">Почему закрыт доступ</h1>

                        <div class="help-content">
                            <div class="help-item">
                                <p>Зайдите в раздел Диагностика. Здесь видно
                                    всё, что мешает работе.</p>
                            </div>

                            <div class="help-item">
                                <p>Если есть надпись Доступ приостановлен —
                                    включилось временное ограничение. Оно
                                    снимется автоматически, система показывает
                                    точное время, когда можно вернуться к
                                    заказам.</p>
                            </div>

                            <div class="help-item">
                                <p>Если горит надпись Доступ закрыт — следуйте
                                    инструкциям, чтобы снова выйти на линию. В
                                    случае серьезных нарушений вернуться к
                                    заказам не получится.</p>
                            </div>

                            <div class="help-item">
                                <p>Чтобы успешно работать и не терять доступ к
                                    заказам, пожалуйста, соблюдайте стандарты
                                    качества и безопасности.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>