{% extends "base.html" %}

{% block title %}Перенаправление{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="0;url=/disp/create_driver_step1">
<script type="text/javascript">
    window.location.href = "/disp/create_driver_step1";
</script>
{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <p>Если вы не были перенаправлены автоматически, пожалуйста, нажмите <a
            href="/disp/create_driver_step1">здесь</a> для перехода на первый
        шаг создания водителя.</p>
</div>
{% endblock %}